.separator {
    border: 2px solid #FFC018;
    margin: 15px 100px;
}

.call-to-action {
    color: #FFC018;
    margin-bottom: 2px;
    font-size: 12px;
}

.comment {
    margin: 5px auto 30px auto;
}

