.header {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin: 15px 10px;
}

.header_links {
    display: flex;
    align-items: center;
}

.link-header {
    cursor: pointer;
    border-radius: 20px;
    padding: 8px 10px;
    margin-right: 5px;
}

.link-header--green {
    background-color: green;
    padding: 8px 15px;
}

.link-header--green:hover {
    background-color: rgb(6, 87, 4);
}

.link-header--white {
    border: 1px solid green;
    padding: 8px 15px;
}

.link-header--white:hover {
    background-color: rgba(0, 0, 0, 0.1);
}